* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #f8f8f8;
  --primary-text-color: #000000;
  --secondary-color: #0a0606;
  --secondary-text-color: #f9f9f9;
  --accent-color-1: #ff5722;
  --accent-color-2: #ffc000;
  --base-padding: 1rem;
  --base-margin: 0.5rem;
  --base-border-radius: 12px;
  --h1: 2 rem;
  --h2: 1rem;
  --p: 0.8rem;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
}
main {
  display: grid;
  grid-template-columns: 60% 40%;

  height: 100vh;
  width: 100vw;
}
nav{
  border-bottom: 1px solid rgba(0, 0, 0, 0.04)
}

.middle {
  background-color: var(--primary-color);
  padding: var(--base-padding);
}


.task-card {
  /* width: 10rem; */
  padding: 1.6rem;
  height: 10rem;
  background-color: var(--primary-color);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: var(--base-border-radius);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.02);
  margin: 1rem;
}

.taskCard .task-heading{
  width:83.6%;
  display:inline-block;
  vertical-align: middle;
}

.task-delete-button ,.task-edit-button {
  height: 2rem;
  width: 5rem;
  background-color: greenyellow;
}
.right {
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.059);
  box-shadow: -1px 0px 20px 1px rgba(0, 0, 0, 0.142);
  padding: var(--base-padding);
  display: flex;
  flex-direction: column;
}

.profile-display {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: var(--base-padding);
  margin: var(--base-margin) 0;
  width: auto;
  background-color:var(--primary-color);
}
.day-display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding);
  margin: var(--base-margin) 0;
  background-color: var(--primary-color);
}

.add-task-button {
  background-color: var(--accent-color-2);
  color: var(--primary-text-color);
  padding: var(--base-padding) 1.5rem;
  border-radius: var(--base-border-radius);
  font-size: var(--p);  
  margin: auto 1rem;
}

.inputWindow{
  position:fixed;
  top:50%;
  left:50%;;
  transform: translate(-50%, -50%);
  z-index: 9999;  
  padding: var(--base-padding);
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--base-border-radius);
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 5px 5px rgba(125, 125, 125, 0.06);
}
.input-window-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}


.task-input-buttons{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  margin-bottom: 0px;
}
.task-input-buttons button{
  box-sizing: border-box;
  height: 2.4rem;
  width: 4.8rem;
  justify-content: center;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  font: var(--p);
}

#input-task-title{
 box-sizing: border-box;
 height: 2.4rem;
 width: 100%;
 border: 1px solid rgba(0, 0, 0, 0.2);
 padding-left: 0.8rem;
}